.section-4 {
    .main-wrapper {
        margin-top: 60px;
        margin-bottom: 146px;
    }

    .comment-content {
        max-width: 364px;
        position: relative;
        display: flex;
        justify-content: space-between;
        margin: auto;

        @media(min-width: 1200px){
            max-width: 100%;
        }
    }

    .swiper-container{
        margin-left: -20px;
        margin-right: -20px;

        @media(min-width: 1200px){
            width: 100%;
            margin-left: 0;
            margin-right: 0;
        }
    }

    .swiper-wrapper{

        @media(min-width: 1200px){
            justify-content: space-between;
        }
    }

    .swiper-slide {

        @media(min-width: 1200px) {
            width: 364px;
            overflow: visible;
        }
    }

    .comment-image_wrap {

    }

    .comment-image {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
    }
}