.section-4 {
    .main-wrapper {
        margin-top: 60px;
    }

    .swiper-wrapper {

    }

    .comment-image_wrap {

    }

    .comment-image {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
    }
}