.section-3 {
    padding-bottom: 245px;

    .container {
        max-width: 950px;
    }

    .cost-content {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .cost-content_item {
        position: relative;
        width: 450px;
        height: 568px;

        background-color: #ffffff;
        box-shadow: 0 0 55.8px 4.2px rgba(0, 0, 0, 0.07);
    }

    .cost_item-header {
        width: 100%;
        height: 83px;
        display: flex;
        align-items: center;
        justify-content: center;

        font-size: 30px;
        line-height: 28px;
        color: #ffffff;
        font-weight: 900;

        background-color: #172c42;
    }

    .cost_content-points {
        min-height: 250px;
        padding: 40px 40px 0 50px;
        border-bottom: 1px solid #e2e2e2;

        .cost_content-point {
            display: flex;
            align-items: flex-start;
            justify-content: flex-start;

            &:not(:last-of-type) {
                margin-bottom: 20px;
            }
        }

        .cost_point-image {
            width: 31px;
            height: 31px;
            margin-right: 18px;
        }

        .cost_point-text {
            font-family: 'Muller';
            font-size: 16px;
            line-height: 24px;
            font-weight: 300;
            color: #000000;
        }
    }

    .price-wrapper {
        font-family: 'Muller';
        position: absolute;
        display: flex;
        flex-direction: column;
        align-items: center;

        transform: translate(-50%, 50%);
        left: 50%;
        bottom: 135px;

        font-size: 24px;
        line-height: 50px;
        font-weight: 300;
        color: #172c42;


        .price-item_before {
            display: block;
            text-decoration: line-through;

        }

        .price-item_after {
            display: block;

            .price-item_number {
                font-size: 50px;
                font-weight: 900;
            }
        }
    }

    .button-send {
        position: absolute;
        width: 325px;
        height: 66px;
        margin-top: 0;
        box-shadow: 0 13px 36.12px 6.88px rgba(255, 33, 59, 0.25);
        transform: translate(20%, 50%);
        bottom: 0;


    }
}