.section-2 {
    .main-wrapper {
        margin-top: 80px;

        @media (min-width: 768px) {
            margin-top: 30px;
        }
    }

    .advantages-content {

        @media(min-width: 768px) {
            display: flex;
            align-items: flex-start;
            justify-content: center;
        }
    }

    .advantages-image_wrap {
        width: 100%;
        margin-bottom: 40px;

        @media(min-width: 768px) {
            margin-right: 90px;
            margin-bottom: 0;
        }
    }

    .wrap-relative {
        position: relative;
        display: block;
        padding-bottom: 82%;
    }

    .advantages-image {
        position: absolute;
        object-fit: cover;
        object-position: center;
        display: block;
        height: 100%;
        width: 100%;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
    }

    .advantages-description {
        width: 100%;
    }

    .advantages-description_item {
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        margin-bottom: 77px;

        .advantages-description_image {
            margin-right: 25px;
        }

        ._1 {
            width: 54px;
            height: 54px;
        }

        ._2 {
            width: 49px;
            height: 56px;
        }

        ._3 {
            width: 53px;
            height: 48px;


        }

        .advantages-description_title {
            position: relative;
            font-size: 30px;
            font-weight: 900;
            color: #000000;
            margin-bottom: 40px;

            &::before {
                content: "";
                position: absolute;
                width: 98px;
                height: 10px;
                background-color: #ff213b;
                bottom: -20px;
                left: 0;
            }
        }

        .advantages-description_subtitle {
            font-family: 'Muller';
            font-size: 16px;
            font-weight: 300;
            line-height: 24px;
            color: #4b4b4b;
        }
    }
}