@font-face {
    font-family: 'FiraSans';
    src:         url('/fonts/FiraSans-Regular.eot?#iefix') format('embedded-opentype'),
                 url('/fonts/FiraSans-Regular.woff') format('woff'),
                 url('/fonts/FiraSans-Regular.ttf') format('truetype'),
                 url('/fonts/FiraSans-Regular.svg#FiraSans-Regular') format('svg');
    font-weight: 400;
    font-style:  normal;
}


@font-face {
    font-family: 'FiraSans';
    src: url('/fonts/FiraSans-ExtraBold.eot?#iefix') format('embedded-opentype'),
         url('/fonts/FiraSans-ExtraBold.woff') format('woff'),
         url('/fonts/FiraSans-ExtraBold.ttf')  format('truetype'),
         url('/fonts/FiraSans-ExtraBold.svg#FiraSans-ExtraBold') format('svg');
    font-weight: 800;
    font-style: normal;
}
