.main-wrapper {
    padding: 0 20px;

    &.mod-color {
        background-color: #243043;
    }

    @media(min-width: 1440px) {
        padding: 0;
    }

}

.container {
    max-width: 1396px;
    margin: 0 auto;
}

    .section-title {
        font-size: 30px;
        font-weight: 900;
        text-align: center;
        margin-bottom: 50px;

        @media(min-width: 768px){
            font-size: 50px;
            margin-bottom: 61px;
        }
    }

.modal-wrap{

    display: none;

    @media(min-width: 768px){
        &.modal-active{
            display: block;
            position: fixed;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            z-index: 999;
        }
    }
}

.modal-blackout {

    @media(min-width: 768px) {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 1;

        background: rgba(33, 51, 72, 0.20);
    }
}



@import "../../components/section-1/section-1";
@import "../../components/section-2/section-2";
@import "../../components/section-3/section-3";
@import "../../components/section-4/section-4";