.section-1 {

    .background-wrapper {
        display: flex;
        position: relative;
        top: -98px;
    }

    .background-image {
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        width: 100%;
        height: 100vh;
        background-image: url(/images/two-cars.png);
    }

    .management {
        position: relative;
        top: 98px;
    }

    .management-buttons {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        max-width: fit-content;

        .management-btn {
            height: 118px;

            display: flex;
            align-items: center;

            font-size: 22px;
            line-height: 24px;
            font-weight: 800;

            background-color: transparent;
            padding: 0 18px;
            cursor: pointer;

            &:not(:last-of-type) {
                margin-right: 30px;
            }

            &.mod-active {
                background-color: #ff213b;
            }
        }
    }
}
